{% extends "base.twig" %}

{% block content %}

<div class="secretPageBox">

    {% if general_fields.page_protected_title %}
    <p class="title">{{ general_fields.page_protected_title }}</p>
    {% endif %}

    {% if general_fields.page_protected_text %}
    <div class="typo">
        {{ general_fields.page_protected_text }}
    </div>
    {% endif %}

    {% if general_fields.page_protected_submit_button %}
    <form class="password-form" action="{{site.site_url}}/wp-login.php?action=postpass" method="post">
        <input class="password-box" name="post_password" id="pwbox-{{post.ID}}" type="password" placeholder="{{ __('Password', TEXTDOMAIN) }}" size="20" maxlength="20" required />
        <input class="password-btn" type="submit" name="Submit" value="{{ general_fields.page_protected_submit_button }}" />
    </form>
    {% endif %}

    {% if general_fields.page_protected_back_button.url and general_fields.page_protected_back_button.title %}
        {% include 'overall/button.twig' with {'link': general_fields.page_protected_back_button, 'type': general_fields.page_protected_back_button_type} %}
    {% endif %}

</div>

{% endblock %}